@page "/professions/edit"
@using Microsoft.EntityFrameworkCore
@using Ceilufas.Models
@inject IDbContextFactory<Ceilufas.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Profession</h2>
<hr />
@if (Profession is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Profession" OnValidSubmit="UpdateProfession" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Profession.Id" value="@Profession.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Profession.Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Profession.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="namear" class="form-label">NameAr:</label>
                    <InputText id="namear" @bind-Value="Profession.NameAr" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Profession.NameAr" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="feevalue" class="form-label">FeeValue:</label>
                    <InputNumber id="feevalue" @bind-Value="Profession.FeeValue" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Profession.FeeValue" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/professions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Profession? Profession { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Profession ??= await context.Professions.FirstOrDefaultAsync(m => m.Id == Id);

        if (Profession is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateProfession()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Profession!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ProfessionExists(Profession!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/professions");
    }

    private bool ProfessionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Professions.Any(e => e.Id == id);
    }
}
